<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form (ngSubmit)="signIn()">


    <ion-list>

      <ion-item>
        <ion-icon name="person" slot="start"></ion-icon>
        <ion-input round type="text" placeholder="Correo" name="email" #email></ion-input>
      </ion-item>


      <ion-item>

        <ion-icon name="key" slot="start"></ion-icon>

        <ion-input type="password" name="password" placeholder="Password" name="password" #password></ion-input>
      </ion-item>




      <ion-button color="light" shape="round" expand="block" type="submit">
        Ingresar</ion-button>
      <ion-button color="light" shape="round" expand="block" (click)="signUp()">Registrar</ion-button>
      <ion-button color="light" shape="round" expand="block" (click)="ResetPassword()">Olvide contraseña</ion-button>

    </ion-list>
  </form>
</ion-content>